<%= form_with(model: creation, local: true) do |form| %>
  <% if creation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(creation.errors.count, "error") %> prohibited this creation from being saved:</h2>

      <ul>
      <% creation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :totranslate %>
    <%= form.text_field :totranslate %>
  </div>

  <div class="field">
    <%= form.label :translated %>
    <%= form.text_field :translated %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
