<p id="notice"><%= notice %></p>

<p>
  <strong>Totranslate:</strong>
  <%= @creation.totranslate %>
</p>

<p>
  <strong>Translated:</strong>
  <%= @creation.translated %>
</p>

<%= link_to 'Edit', edit_creation_path(@creation) %> |
<%= link_to 'Back', creations_path %>
